


.form .form-main .inputbox input:focus~label,
.form .form-main .inputbox input:valid~label{
    top: -5px;
}

.form .form-main .inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.4s;
}




.form .form-main button:hover{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.416);
}



